body {
    background-color:#EDF2F7;
}

h1 {
    color: #6283ff;
}

h3 {
    color: #6283ff ;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 7%;
    border-color: #718096;
    border-width: 5px;
}